@import 'fonts';
@import 'icons';

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1198;
$md1: $maxWidthContainer + 30;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;
$md5: 319.98;

$fontFamily: 'Noto Sans', sans-serif;

@import 'null';

html {
    scroll-behavior: smooth;
}
body.lock {
    overflow: hidden !important;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: ($md1 + px)) {
        max-width: none;
        padding: 0 15px;
    }
}
.logo {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #151e36;
    display: flex;
    align-items: center;
    img {
        margin-right: 8px;
    }
}
.subtitle {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #151e36;
}
.input {
    border: 1px solid rgba(0, 202, 224, 0.64);
    border-radius: 9px;
    width: 100%;
    max-width: 341px;
    height: 52px;
    padding: 0 14px;
    &::placeholder {
        color: #9f9b9d;
        font-size: 14px;
        line-height: 36px;
    }
}
.btn {
    border: 1px solid rgba(0, 202, 224, 0.64);
    padding: 18px 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    font-family: 'Gilroy', sans-serif;
    color: white;
    max-width: 265px;
    pointer-events: none;
    cursor: default;
    background-color: #151e36;
}
.btn-active {
    pointer-events: auto;
    cursor: pointer;
}

@import './sections/header';
@import './sections/intro';
@import './sections/education';
@import './sections/certificates';
@import './sections/work';
@import './sections/reviews';
@import './sections/contacts';
@import './sections/footer';
